- content_for(:page_title) { "Photos" }

section
  .d-flex.justify-content-between.align-items-center.mb-4
    div
      - if params[:status].present?
        span.dashboard-badge class="dashboard-badge--#{params[:status]}" = params[:status].humanize
        = " "
        = link_to t("dashboard.common.clear_filter"), dashboard_photos_path, class: "text-body-3 text-decoration-none"
    = link_to t("dashboard.photos.index.new"), new_dashboard_photo_path, class: "btn-dashboard-primary"

  - if @photos.any?
    .panel
      table.dashboard-table
        thead
          tr
            th = t("dashboard.common.table.title")
            th = t("dashboard.common.table.category")
            th = t("dashboard.common.table.status")
            th = t("dashboard.common.table.created")
            th.text-end = t("dashboard.common.table.actions")
        tbody
          - @photos.each do |photo|
            tr
              td = link_to photo.title, edit_dashboard_photo_path(photo), class: "text-decoration-none fw-medium"
              td = photo.category&.name || t("dashboard.common.none")
              td
                span class="dashboard-badge dashboard-badge--#{photo.status}" = photo.status.humanize
              td.text-body-3 = photo.created_at.strftime("%b %d, %Y")
              td.text-end
                .dashboard-actions.justify-content-end
                  = link_to edit_dashboard_photo_path(photo), class: "icon-pill", title: t("dashboard.common.edit") do
                    i.bi.bi-pencil
                  = button_to dashboard_photo_path(photo), method: :delete, class: "icon-pill text-danger", title: t("dashboard.common.delete"), data: { turbo_confirm: t("dashboard.common.confirm_delete") } do
                    i.bi.bi-trash
    - if @pagy.pages > 1
      .d-flex.justify-content-center.mt-4
        == pagy_nav(@pagy)
  - else
    .dashboard-empty
      i.bi.bi-image
      p = t("dashboard.photos.index.empty")
      = link_to t("dashboard.photos.index.empty_cta"), new_dashboard_photo_path, class: "btn-dashboard-primary"
