- content_for(:page_title) { "Tags" }

section
  .d-flex.justify-content-between.align-items-center.mb-4
    div
    = link_to t("dashboard.tags.index.new"), new_dashboard_tag_path, class: "btn-dashboard-primary"

  - if @tags.any?
    .panel
      table.dashboard-table
        thead
          tr
            th = t("dashboard.common.table.name")
            th = t("dashboard.common.table.slug")
            th = t("dashboard.common.table.posts")
        tbody
          - @tags.each do |tag|
            tr
              td.fw-medium = tag.name
              td.text-body-3 = tag.slug
              td = tag.posts.where(author_id: current_user.id).count
    - if @pagy.pages > 1
      .d-flex.justify-content-center.mt-4
        == pagy_nav(@pagy)
  - else
    .dashboard-empty
      i.bi.bi-tags
      p = t("dashboard.tags.index.empty")
      = link_to t("dashboard.tags.index.empty_cta"), new_dashboard_tag_path, class: "btn-dashboard-primary"
